# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# PyInstaller
build/
dist/
*.manifest

# Editores e sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
